<mat-card>
  <mat-card-title>User login</mat-card-title>

  <mat-card-content>
    <form
      class="example-form"
      #loginForm="ngForm"
      (submit)="proceedLogin(loginform.value)"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" name="username" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          name="password"
          type="password"
        />
      </mat-form-field>
    </form>
    <div>
      <button mat-raised-button type="submit" color="primary">Login</button>
      <button
        mat-raised-button
        style="background-color: red; margin: 5px"
        type="button"
        color="accent"
      >
        Register
      </button>
    </div>
  </mat-card-content>
</mat-card>
